:root{
    --red: #D3062AFF;
}
/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
body, html{
    background-color: #c0c0c0;
}
/* header */
header{
    position: fixed;
    z-index: 99;
    width: 100vw;
    top: 0;
    left: 0;
    border-top: 5px solid var(--red);
    box-shadow: 0 11px 20px 0 rgba(0,0,0,.04);
    background-color: #faf6f6;
    height: auto;
    text-align: center;

    .container{
        width: 100%;
        max-width: 1294px;
        margin: auto;
        padding: 0 20px;
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        align-content: center;
        justify-content: space-between;
    }

    .search{
        flex-shrink: 0;
    }
}

#header-search{
    width: 300px;
}
/* main */
#main{
    display: grid;
    margin-top: 110px;
    overflow: auto;
    grid-template: "content menu" / auto 300px;

    section{
        grid-area: content;
        background-color: aqua;
    }

    aside{
        grid-area: menu;
        background-color: rebeccapurple;
    }
}


/* breakpoints */

/* 1200px 992px 768px 576px-320px */
@media (min-width: 768px) {

}
