:root{
    --sidebar-width: 100vw;
    --sidebar-menu: 48px;
    --sidebar-content: calc(var(--sidebar-width) - var(--sidebar-menu));
    --main-width: 100vw;

    --main-bgcolor: #171717;
    --aside-bgcolor: #1b1b1d;
    --aside-shadow-color: rgba(12, 12, 12, 0.75);
    --sidebar-menu-bgcolor: #0f0f10;
    --sidebar-menu-fill: #999;
    --sidebar-menu-fillhover: #fff;
    --sidebar-content-scrollcolor: #222 #000;
    --sidebar-content-bordercolor: #111;
    --menu-link-color: #aaa;
    --menu-link-bordercolor: #1b1b1d;
    --menu-currentlink-bordertop: #131315;
    --menu-currentlink-borderbottom: #343438;
    --menu-currentlink-color: #910707;
    --menu-currentlink-bgcolor: #1f1f21;
    --menu-hoverlink-bgcolor: #181818;
    --menu-hoverlink-color: #cacaca;
    --menu-currenthoverlink-color: #910707;
    --header-bordertop-color: #750303;
    --header-bgcolor: #0a0a0a;
    --logo-color: #fff;
    --hamburger-fill: #252525;
    --hamburger-hover-fill: #999;
    --maintitle-color: #fff;
    --maintitle-bgcolor: #111111;
    --maintitle-shadow-color: #fff8;
    --main-gradient-color: #111 0;
    --main-color: #aaa;
    --title-color: #fff;
    --title-shadow-color: #fff8;
}

/* tipografías */
@font-face {
    font-family: 'Jost';
    src:url('../fonts/jost-vf.woff2') format("woff2"), url('../fonts/jost-vf.woff') format("woff");
    font-display:swap;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
    font-display:swap;
}

@font-face {
    font-family: "Lora";
    src: url("../fonts/Lora-Regular.woff") format("woff"), url("../fonts/Lora-Regular.woff2") format("woff2");
    font-display:swap;
}

/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.hide{
    display: none;
    opacity: 0;
}

body{
    touch-action: manipulation;
}

body.sidebar-open{
    aside{
        width: var(--sidebar-width);
    }
}

aside{
    height: 100vh;
    background-color: var(--aside-bgcolor);
    z-index: 90;
    position: fixed;
    opacity: 0;
    right: -100vw;
    top: 0;
    grid-template-columns: var(--sidebar-menu) var(--sidebar-content);
    transition: all 0.5s ease;
    display: grid;
    box-shadow: -7px 0 15px -5px var(--aside-shadow-color);

    &:is(.show) {
        right: 0;
        opacity: 1;
    }

    #sidebar-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--sidebar-menu-bgcolor);

        svg{
            fill: var(--sidebar-menu-fill);
            cursor: pointer;
            touch-action: manipulation;
        }

        svg:hover{
            fill: var(--sidebar-menu-fillhover);
        }

        #sidebar-toggle{
            width: 36px;
            height: 36px;
            margin-top: 8px;
            display: none;
        }

        #sidebar-close{
            width: 36px;
            height: 36px;
            margin-top: 8px;
            display: block;
        }

    }

    #sidebar-content{
        scrollbar-color: var(--sidebar-content-scrollcolor);
        border-left: 1px solid var(--sidebar-content-bordercolor);
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        #menu{
            margin-top: 50px;
            width: 100%;

            li{
                width: 100%;

                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    font-family: "Lato", serif;
                    color: var(--menu-link-color);
                    font-size: 18px;
                    padding: 10px 40px;
                    border-top: solid 1px var(--menu-link-bordercolor);
                    border-bottom: solid 1px var(--menu-link-bordercolor);

                    &:is(.current) {
                        border-top: solid 1px var(--menu-currentlink-bordertop);
                        border-bottom: solid 1px var(--menu-currentlink-borderbottom);
                        color: var(--menu-currentlink-color);
                        background-color: var(--menu-currentlink-bgcolor);
                    }

                    &:hover{
                        background-color: var(--menu-hoverlink-bgcolor);
                        color: var(--menu-hoverlink-color);
                        transition: background-color 300ms linear;
                    }

                    &:is(.current):hover {
                        color: var(--menu-currenthoverlink-color);
                    }
                }

            }

        }
    }
}

#main{
    width: var(--main-width);
    /* min-height: 100vh; */
    height: 100vh;
    display: grid;
    grid-template:
            "header" 50px
            "content" auto;
    background-color: var(--main-bgcolor);
    text-align: center;
    transition: transform .5s,width .5s;

    header{
        position: fixed;
        border-top: 5px solid var(--header-bordertop-color);
        box-shadow: 0 11px 20px 0 rgba(0,0,0,.04);
        width: var(--main-width);
        height: 50px;
        grid-area: header;
        background-color: var(--header-bgcolor);
        display: block;
        text-align: center;
        transition: transform .5s,width .5s;

        .container{
            display: flex;
            width: 100%;
            height: 45px;
            max-width: 1000px;
            margin: 0 auto;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px;

            .logo{
                font-size: 180%;
                font-family: 'Lora', serif;
                color: var(--logo-color);
            }

            #hamburger-menu{
                width: 36px;
                height: 36px;
                fill: var(--hamburger-fill);
                cursor: pointer;
                touch-action: manipulation;
            }

            #hamburger-menu:hover{
                fill: var(--hamburger-hover-fill);
            }
        }
    }

    #main-content{
        grid-area: content;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
        width: 100%;

        #main-title{
            background-color: var(--maintitle-bgcolor);
            width: 100%;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;

            h1{
                font-family: "Jost",sans-serif;
                font-size: clamp(44px,5vw,64px);
                font-weight: 700;
                color: var(--maintitle-color);
                text-shadow: 0 0 10px var(--maintitle-shadow-color);
            }
        }

        #main-body{
            background: linear-gradient(to bottom, var(--main-gradient-color), var(--main-bgcolor) 50px 50px);
            color: var(--main-color);
            font-size: 20px;
            padding: 70px 15px;
            width: 100%;
            text-align: center;

            section{
                display: block;
                width: 100%;
                max-width: 1000px;
                margin: 0 auto;
                text-align: left;

                p{
                    text-align: left;
                    font-family: "Jost",sans-serif;
                    font-size: clamp(20px,2vw,22px);
                    font-weight: 350;
                    line-height: 135%;
                    padding: 0 30px;
                    margin-bottom: 30px;

                    span.attribute{
                        font-size: clamp(15px,1.8vw,17px);
                        font-weight: 700;
                    }
                }

                h2, h3{
                    letter-spacing: -1px;
                    text-shadow: 0 0 3px var(--title-shadow-color);
                    color: var(--title-color);
                    margin-bottom: 30px;
                    font-family: "Jost",sans-serif;
                    font-weight: 700;
                }

                h2 {
                    font-size: 3rem;
                    margin: 75px 0 40px 0;
                }

                h3{
                    font-size: 2.25rem;
                    margin-bottom: 30px;
                }
            }
        }
    }

    #main-content::-webkit-scrollbar {
        width: 0;
    }

    #main-content::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

}

body.sidebar-collected aside{
    transform: translateX(var(--sidebar-content));
}
body.sidebar-collected #main{
    --main-width: calc(100% - var(--sidebar-menu));
}

/* media queries */
@media (min-width: 768px) {
    :root{
        --sidebar-width: 425px;
        --sidebar-width2: 425px;
        --main-width: calc(100% - var(--sidebar-width));
    }

    #main {
        header{
            .container{
                justify-content: left;
                padding: 0;

                #hamburger-menu{
                    display: none;
                }
            }
        }
        #main-content {
            #main-body {
                padding: 100px;
            }
        }
    }

    aside{
        right: 0;
        opacity: 1;

        #sidebar-menu {
            #sidebar-toggle {
                display: block;
            }
            #sidebar-close{
                display: none;
            }
        }

    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}


