:root{
    --sidebar-width: 100vw;
    --sidebar-menu: 48px;
    --sidebar-content: calc(var(--sidebar-width) - var(--sidebar-menu));
    --main-width: 100vw;


    --main-bgcolor: #171717;


}

/* tipografías */


@font-face {
    font-family: 'Jost';
    src:url('../fonts/jost-vf.woff2') format("woff2"), url('../fonts/jost-vf.woff') format("woff");
    font-display:swap
}

/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}

body.sidebar-open{
    aside{
        width: var(--sidebar-width);
    }

    #main{
        /*transform: translateX(var(--sidebar-width));*/
    }
}

aside{
    height: 100vh;
    background-color: #1b1b1d;
    z-index: 90;
    position: fixed;
    right: 0;
    top: 0;
    transition: transform .5s,width .5s;
    display: none;
    /*box-shadow: 7px 0 15px -5px rgba(12, 12, 12, 0.75);*/
    box-shadow: -7px 0 15px -5px rgba(12, 12, 12, 0.75);

    #sidebar-menu{
        background-color: #0f0f10;
    }

    #sidebar-content{
        scrollbar-color: #222 #000;
        scrollbar-gutter: stable both-edges;
        border-left: 1px solid #111;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

#main{
    width: var(--main-width);
    /* min-height: 100vh; */
    height: 100vh;
    display: grid;
    grid-template:
            "header" 50px
            "title" 200px
            "content" auto;
    background-color: var(--main-bgcolor);
    text-align: center;
    transition: transform .5s,width .5s;

    header{
        position: fixed;
        border-top: 5px solid #750303;
        box-shadow: 0 11px 20px 0 rgba(0,0,0,.04);
        width: 100%;
        height: 50px;
        grid-area: header;
        background-color: #0a0a0a;
        overflow: auto;
        display: block;

        .container{
            width: 100%;
            /*padding: 0 20px;*/
            /*height: 50px;*/
            overflow: auto;

        }
    }

    #main-title{
        background-color: #111111;
        width: 100%;
        height: 200px;
        /*padding-top: 100px;*/
        grid-area: title;
        h1{
            color: #fff;
            text-shadow: 0 0 10px #fff8;
        }
    }

    #main-content{
        background: linear-gradient(to bottom, #111 0, var(--main-bgcolor) 50px 50px);
        color: #aaa;
        font-size: 20px;
        padding: 100px;
        width: 100%;
        grid-area: content;
        overflow: hidden;

        section{
            text-align: left;
            font-family: "Jost",sans-serif;
            margin: 0 0 2rem;
            font-size: clamp(20px,2vw,22px);
            font-weight: 350;
            line-height: 135%;
        }
    }
}


/* media queries */
@media (min-width: 768px) {
    :root{
        --sidebar-width: 425px;
        --main-width: calc(100% - var(--sidebar-width));
    }

    aside{
        display: grid;
        grid-template-columns: var(--sidebar-menu) var(--sidebar-content);
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
