:root{
    --sidebar-width: 100vw;
    --sidebar-width2: 100vw;
    --sidebar-menu: 48px;
    --sidebar-content: calc(var(--sidebar-width) - var(--sidebar-menu));
    --main-width: 100vw;
    --main-bgcolor: #171717;
}

/* tipografías */
@font-face {
    font-family: 'Jost';
    src:url('../fonts/jost-vf.woff2') format("woff2"), url('../fonts/jost-vf.woff') format("woff");
    font-display:swap;
}

@font-face {
    font-family: "Lora";
    src: url("../fonts/Lora-Regular.woff") format("woff"), url("../fonts/Lora-Regular.woff2") format("woff2");
    font-display:swap;
}

/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap: 0;
}
ul{
    list-style: none;
}

.hide{
    display: none;
    opacity: 0;
}

body{
    touch-action: manipulation;
}

body.sidebar-open{
    aside{
        width: var(--sidebar-width);
    }
}

aside{
    height: 100vh;
    background-color: #1b1b1d;
    z-index: 90;
    position: fixed;
    opacity: 0;
    right: -100vw;
    top: 0;
    grid-template-columns: var(--sidebar-menu) var(--sidebar-content);
    transition: all 0.5s ease;
    display: grid; /* none */
    box-shadow: -7px 0 15px -5px rgba(12, 12, 12, 0.75);

    &:is(.show) {
        right: 0;
        opacity: 1;
    }

    #sidebar-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #0f0f10;

        svg{
            fill: #999;
            cursor: pointer;
            touch-action: manipulation;
        }

        svg:hover{
            fill: #fff;
        }

        #sidebar-toggle{
            width: 36px;
            height: 36px;
            margin-top: 8px;
            display: none;
        }

        #sidebar-close{
            width: 36px;
            height: 36px;
            margin-top: 8px;
            display: block;
        }

    }

    #sidebar-content{
        scrollbar-color: #222 #000;
        scrollbar-gutter: stable both-edges;
        border-left: 1px solid #111;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

#main{
    width: var(--main-width);
    /* min-height: 100vh; */
    height: 100vh;
    display: grid;
    grid-template:
            "header" 50px
            "content" auto;
    background-color: var(--main-bgcolor);
    text-align: center;
    transition: transform .5s,width .5s;

    header{
        position: fixed;
        border-top: 5px solid #750303;
        box-shadow: 0 11px 20px 0 rgba(0,0,0,.04);
        width: var(--main-width);
        height: 50px;
        grid-area: header;
        background-color: #0a0a0a;
        display: block;
        text-align: center;
        transition: transform .5s,width .5s;

        .container{
            display: flex;
            width: 100%;
            height: 45px;
            max-width: 1000px;
            margin: 0 auto;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px;

            .logo{
                font-size: 180%;
                font-family: 'Lora', serif;
                color: #fff;
            }

            #hamburger-menu{
                width: 36px;
                height: 36px;
                fill: #252525;
                cursor: pointer;
                touch-action: manipulation;
            }

            #hamburger-menu:hover{
                fill: #999;
            }
        }
    }

    #main-content{
        grid-area: content;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
        width: 100%;

        #main-title{
            background-color: #111111;
            width: 100%;
            height: 200px;
            padding-top: 80px;

            h1{
                color: #fff;
                text-shadow: 0 0 10px #fff8;
            }
        }

        #main-body{
            background: linear-gradient(to bottom, #111 0, var(--main-bgcolor) 50px 50px);
            color: #aaa;
            font-size: 20px;
            padding: 70px 15px;
            width: 100%;
            text-align: center;

            section{
                display: block;
                width: 100%;
                max-width: 1000px;
                margin: 0 auto;
                text-align: left;
                font-family: "Jost",sans-serif;
                font-size: clamp(20px,2vw,22px);
                font-weight: 350;
                line-height: 135%;
            }
        }
    }

    #main-content::-webkit-scrollbar {
        width: 0;
    }

    #main-content::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

}


/* media queries */
@media (min-width: 768px) {
    :root{
        --sidebar-width: 425px;
        --sidebar-width2: 425px;
        --main-width: calc(100% - var(--sidebar-width));
    }

    #main {
        header{
            .container{
                justify-content: left;
                padding: 0;

                #hamburger-menu{
                    display: none;
                }
            }
        }
        #main-content {
            #main-body {
                padding: 100px;
            }
        }
    }

    aside{
        right: 0;
        opacity: 1;

        #sidebar-menu {
            #sidebar-toggle {
                display: block;
            }
            #sidebar-close{
                display: none;
            }
        }

    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}


