<li><a href="/index.html">Sobre Codex Estigma</a></li>
<li><a href="/tiro-base">Tiro base</a></li>
<li><a href="/criticos-y-pifias">Críticos y pifias</a></li>
<li><a href="/salud-y-cordura">Salud y cordura</a></li>
<li><a href="/pages/atributos">Atributos</a></li>
<li><a href="/turnos-y-acciones">Turnos y acciones</a></li>
<li><a href="/habilidades">Habilidades</a></li>
<li><a href="/pages/maniobras">Maniobras</a>
    <ul>
        <li><a href="/pages/maniobras">Filo largo</a></li>
        <li><a href="/pages/maniobras">Filo corto</a></li>
    </ul>
</li>
<li><a href="/pages/magia">Magia</a></li>
<li><a href="/pages/equipo">Equipo</a></li>