
.vs/CodexEstigma/config/applicationhost.config
.vs/CodexEstigma/FileContentIndex/f41df48e-7e9f-4769-9abd-682fda28783a.vsidx
.vs/CodexEstigma/v17/.wsuo
.vs/slnx.sqlite
.vs/CodexEstigma/FileContentIndex/4dee89e6-6d10-40bc-9b37-ffa706f6d758.vsidx
*.vsidx
.vs/VSWorkspaceState.json
