#table-attributes{
    border-collapse: collapse;

    td {
        padding: 10px 15px;

        &.fis, &.men, &.soc, &.mis{
            border-right: solid 1px var(--sidebar-menu-bgcolor);
        }
    }

    thead{
        tr{
            border-right: solid 1px var(--sidebar-menu-bgcolor);

            td{
                &.fis, &.men, &.soc, &.mis{
                    background-color: var(--sidebar-menu-bgcolor);
                    color: #dddde9;
                    text-align: center;
                    font-family: 'Lora', serif;
                    text-transform: uppercase;
                    font-size: 0.9em;
                }
            }
        }
    }

    tbody{
        tr {
            &:nth-child(odd){
                background-color: #798187;
            }

            &:nth-child(even) {
                background-color: #656d76;
            }

            td{
                color: #000;
                font-family: "Jost",sans-serif;
                font-size: clamp(20px,2vw,22px);
                font-weight: 350;
            }

            td:first-of-type{
                background-color: var(--sidebar-menu-bgcolor);
                color: #dddde9;
                font-family: 'Lora', serif;
                text-transform: uppercase;
                font-size: 0.9em;
            }
        }
    }

    tfoot{
        tr{
            td{
                border: solid 1px var(--sidebar-menu-bgcolor);
                background-color: #1b1b1d;
                color: #c0c0c0;
                text-align: center;
                font-size: 0.8em;
                font-family: "Jost",sans-serif;

                span{
                    font-family: 'Lora', serif;
                }
            }
        }
    }
}